<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::div})}">
<body>
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card card-elevated mt-5">
            <div class="card-header bg-success text-white" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <h4>Prijava</h4>
            </div>
            <div class="card-body">

                <div th:if="${param.error}" class="alert alert-danger">
                    Pogrešan email ili lozinka.
                </div>

                <div th:if="${param.uspjesno}" class="alert alert-success">
                    Registracija uspješna! Molimo prijavite se.
                </div>

                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label>Email adresa</label>
                        <input type="email" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>Lozinka</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Prijavi se</button>
                </form>
                <div class="text-center mt-3">
                    Nemate račun? <a href="/registracija">Registrujte se</a>.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
